doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/Semantic-UI-CSS-master/semantic.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.ui.center.aligned.basic.segment
      h1.ui.inverted.yellow.header #{title}

    div.ui.attached.huge.menu.inverted.yellow
      div.item.left
        a(href='/')
          button.ui.button.grey
            i.home.icon.big
      div.item.right
        div.ui.button.grey#buttonCreate Create new topic
      div.item
        div.ui.icon.input
          input(type='text' placeholder='search')
          i.search.icon


            // modal
    div.ui.basic.test.modal.inverted.segment.yellow#createAccont
      div.header Create a new account
      div.ui.message.inverted.red#message.hidden
        div.header Pick one !
        p Choose a nickname in the list below and fill the password champ
      div.content
        div.ui.fluid.selection.dropdown
          input(type="hidden" name="user")#nickname
          i.dropdown.icon
          div.default.text Nickname
          div.menu
            - each pseudo in listPseudo
              div.item(data-value= pseudo ) #{pseudo}
        label Password
        div.ui.input.fluid
          input(type='password' placeholder='password')#password
      div.actions
        div.ui.buttons
          button.ui.button.approve.blue SignIn
          div.or(data-text='OR')
          buttonu.ui.deny.button Login
      div.inline.field
        -popup = "Free2talk is an application in which you can talk hidden behind an original nickname to other people like you on several topics. no insults, no name, no inscription, enjoy!"
        i(data-content=popup data-variation="inverted wide").big.circular.help.icon#information
        div.ui.left.pointing.blue.basic.label.large What is Free2Talk


    div.ui.modal.inverted.segment.yellow#loginModal
      div.header You already have an account ?
      div.ui.message.inverted.red#errorConnection.hidden
        div.header Fill the champs !
          p Find your nickname in the list below and fill the password champ
      div.content
        div.ui.fluid.selection.dropdown
          input(type="hidden" name="user")#loginNickname
          i.dropdown.icon
          div.default.text Nickname
          div.menu
            - each pseudo in listPseudo
              div.item(data-value= pseudo ) #{pseudo}
          label password
          div.ui.input.fluid
            input(type='password', placeholder='password')#loginPassword
        div.actions
          button.ui.button.approve.grey confirm
        a(href='').ui.teal.tag.label#noAccount I haven't an account


     div.ui.modal.inverted.segment.grey#createTopic
      div.header Create a new topic
      div.ui.inverted.segment.yellow
       div.ui.inverted.form.segment.very.padded.yellow
         div.ui.message.inverted.red#topicMessage.hidden
           div.header Fill the champs
         div.two.fields
           div.field
             label Name
             div.ui.icon.input
              input(type='text' placeholder='topicName' name='topicName')
              i.icon.write.large
           div.field
            label Category
            select.ui.search.dropdown#category
          div.field
            label Color
            div.ui.fluid.selection.dropdown
              input(type="hidden" name="color")
              i.dropdown.icon
              div.default.text Select your topic color
              div.menu
                div.item(data-value='green')
                  div.ui.segment.inverted.green
                    div green
                div.item(data-value='Teal')
                  div.ui.segment.inverted.teal
                    div Teal
                div.item(data-value='Orange')
                  div.ui.segment.inverted.orange
                    div Orange
                div.item(data-value='Brown')
                  div.ui.segment.inverted.brown
                    div Brown
                div.item(data-value='Purple')
                  div.ui.segment.inverted.violet
                    div Purple
          div.ui.hidden.divider
          div.actions
            button.grey.ui.button.approve#submitTopicCreation Submit


    block content
  script(src ='/javascripts/jquery.js')
  script(src ='/stylesheets/Semantic-UI-CSS-master/semantic.min.js')
  script(src ='/javascripts/script.js')