extends ../layout

block content
    div.ui.raised.very.padded.segment.container
        div.ui.three.column.grid
            -each topic in allTopics
                div.column
                    div.ui.card.segment.inverted(class=topic.color)
                        div.content
                            -var url = "/topic/" + topic.name
                            a.header(href=url) #{topic.name}
                            div.meta.right.floated
                                -var author = "/user/"+topic.creator
                                div.meta.right.floated
                                    a(href=url).ui.label(class=topic.color).image.author
                                        -var source='/images/avatar/'+topic.avatar
                                        img(src= source)
                                        div.detail by #{topic.creator}
                            div.ui.divider.hidden
                            div.meta.left.floated
                                span.date created the #{topic.creationdate.toLocaleString('fr-FR')}
                        div.content
                            -url = '/category/' + topic.category
                            a(href=url).ui.red.horizontal.label Category: #{topic.category}
                        div.extra.content
                            i.icon.mail.large
                            div #{topic.nbmessage} response(s)
                            div.floating.ui.label.red #{topic.nbmessage}