extends ../layout

block content
    div.ui.hidden.divider
    div.ui.container.segment.very.padded.inverted(class=topicData.color)
        h1.header#topicName #{topicData.name}
        div.ui.two.column.centered.grid
            -each message in allMessages
                -var url = '/user/'+message.sender
                if currentUser == message.sender
                    div.row
                        div.column
                        div.column
                            div.ui.segment.inverted.card.red(id=message.idmessage)
                                div.content
                                    div.meta.left.floated.deleteMessage
                                        a(href='#')
                                            i.icon.close.icon.black
                                            span delete
                                    div.ui.divider.hidden
                                    div.meta.right.floated
                                        a(href=url).ui.label.red.image.author
                                            -var source='/images/avatar/'+message.avatar
                                            img(src= source)
                                            div.detail #{message.sender}
                                    div.description #{message.textmessage}
                                    div.meta.left.floated
                                        span.date #{message.datesending.toLocaleString('fr-FR')}

                else
                    div.row
                        div.column
                            div.ui.segment.inverted.card.red
                                div.content
                                    div.meta.right.floated

                                        a(href=url).ui.label.red.image.author
                                            -var source='/images/avatar/'+message.avatar
                                            img(src= source)
                                            div.detail #{message.sender}
                                    div.description #{message.textmessage}
                                    div.meta.left.floated
                                        span.date #{message.datesending.toLocaleString('en-GB')}
                        div.column
                div.row

    div.ui.horizontal.divider.hidden
    div.ui.horizontal.divider.hidden
    div.ui.horizontal.divider
    div.ui.borderless.bottom.fixed.menu
        div.ui.text.container
            div.item.left
                a(href="#").grey
                    i.fitted.image.icon.grey.big
            div.item.left
                div.ui.transparent.action.input.massive
                    input(type="text" placeholder="tap your message ")
                    div.ui.button.green#sendMessage send
